.canvasSettings {
    box-sizing: border-box;
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    position: relative;

    .editorRow {
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        label {
            font-size: 16px;
            font-width: bold;
        }

        label,
        div {
            display: block;
        }

        input {
            width: 80%;
        }
    }
}
